link(href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,300italic', rel='stylesheet', type='text/css')
link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:300', rel='stylesheet', type='text/css')
link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700', rel='stylesheet', type='text/css')
link(href='https://fonts.googleapis.com/css?family=Noto+Serif:100,400,700&subset=cyrillic,cyrillic-ext,latin,greek-ext,greek,latin-ext', rel='stylesheet', type='text/css')