/* Vars
-------------------------------------------------- */
border_radius = 2px

/* Candidate view
-------------------------------------------------- */
article.proposal
  margin 2em auto 0
  min-height 300px
  position relative

  p
    font-family 'Roboto Slab', serif
    font-weight 300
    line-height 1.6
    font-size 14

  a
    color #1A5CE5

    &:hover
      color #1240B2

  .col-xs-1,.col-xs-5,.col-xs-6
    padding: 0
  ul
    list-style-type none
    padding-left 0
  h1,h3
    margin-top 0
    text-transform uppercase
    color #D3091D
    font-weight 100
    margin-bottom 15px
  span
    text-align left
    width auto
  .body
    font-size 110%
  .summary
    font-size 16px
    margin 40px 0
  .entry-content
    .row
      margin-bottom 20px
      h3.chartlead
        margin-bottom 5px
      a
        margin-bottom 15px
        font-size 14px
        font-weight 300

  .clauses

    .clause
      margin-bottom 10px
      word-wrap break-word
      text-align left
      img
        width 100%
  
  .charte
    margin-bottom 20px
    .clause
      border margin-bottom 5px
      word-wrap break-word
      text-align left
      .col-xs-4
        height 60
        padding 8px 4px
        text-align right
        border-right-style solid
        border-right-width 1px
        border-right-color #63666A
        overflow-y scroll
        .faketable
          text-align right
          display table
          vertical-align middle
          height 100%
          width 100%
          h5
            font-size 13px
            margin: 0
            display table-cell
            vertical-align middle
            text-align right
      .col-xs-8
        padding-l75t 10px
        height 60
        overflow-y scroll
        .faketable
          display table
          vertical-align middle
          height 100%
          p
            font-size 12px
            margin: 0
            display table-cell
            vertical-align middle
      .col-xs-4.taller
        height 75
        padding 8px 4px
        text-align right
        border-right-style solid
        border-right-width 1px
        border-right-color #63666A
        overflow-y scroll
        .faketable
          text-align right
          display table
          vertical-align middle
          height 100%
          width 100%
          h5
            font-size 13px
            margin: 0
            display table-cell
            vertical-align middle
            text-align right
      .col-xs-8.taller
        padding-left 10px
        height 75
        overflow-y scroll
        .faketable
          display table
          vertical-align middle
          height 100%
          p
            font-size 12px
            margin: 0
            display table-cell
            vertical-align middle
      margin: 0
    .alt
      background-color: #CDD3D7

  h1.name
    margin-bottom 5px

  h4.accepted-nomination
    color #63666A
    font-size 1vw
    font-weight 300
    margin 0 0 20px 0
    font-style italic

  h2.slogan
    color #211e16
    font-size 1.2vw
    font-weight 300

  .meta-information
    margin-bottom 10px
    color #63666A
    font-size 16px

    .icon-time
      margin-right 6px

    .meta-timeago,
    .meta-timeago-label
      display inline-block

    .label
      display inline-block
      margin-right 10px
      border-radius 0

  p.charte-clause
    font-size 14px
    color #63666A
    font-weight 300

  p.charte-position
    font-size 14px

  h3
    font-size: 24

  .row
    margin 5% 0 0 0

  img.picture
    width 100%
    float right

  hr
    border-top 4px solid #ecf0f1
    width 100%

  .read-more
    display block
    text-transform capitalize
    margin-top 10px
    margin-bottom 20px
  .footer-notes
    color #63666A
    margin-bottom 20px

  .participants
    font-weight bold
    padding 10px 0
    margin 30px 0

    .view-more
      padding 2px 10px
      margin-left 6px
      margin-top 2px
      display inline-block
      border-radius border_radius

  .contact
    p
      font-size 16px
      color #211e16
      font-weight bold

  .links
    background-color #ecf0f1
    padding 6px 0
    p
      margin 0
      margin-bottom 5px
      padding-left 12px
      font-size 12px
      margin-right 5px
    ul
      li
        padding 0px 6px
        text-align left
        a
          font-size 14px
          font-weight 300
  .share-links
    padding 9px 0
    margin-bottom 40px
    a
      background #63666A
      padding 10px
      margin-right 10px
      border-radius border_radius
      color #ecf0f1
      display inline-block
      line-height 10px
      -webkit-transition all 0.3s ease
      &:hover
        text-decoration none
      &.facebook:hover
        background #3b5998
      &.twitter:hover
        background #3498db

.embed-container
  position relative
  padding-bottom 56.25%
  height 0
  overflow-y hidden
  max-width 100%

  iframe
  object
  embed
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    border none

.vote-box
  background #ecf0f1
  h5
    text-transform uppercase
    margin-top 0
  .delegation-box
    display inline-block
  #voting-error
    color: black
  .meta-data
    margin-bottom 20px
  .change-vote
    font-size 16px
    color black
    font-weight bold
    i
      margin-right 10px
    &:hover
      text-decoration none

.proposal-options
  .vote-options
    position relative

    .overlay-vote
      background-color rgba(249, 249, 249, 0.9)
      font-weight bold
      height 100%
      left 0
      position absolute
      text-align center
      top 0
      width 100%

    .vote-option
      display inline-block
      width 100%
      font-size 14px
      text-align center
      margin-right 5%
      color #ecf0f1
      text-transform uppercase
      font-weight bold
      border-radius border_radius
      margin-bottom 20px
      padding 14px
      line-height 1.1
      -webkit-transition all 0.3s ease

      .flaticon
        display inline-block
        margin-right 14px
      span
        display inline-block
      &.vote-yes
        background-color #a4cb53
        &:hover
          background-color darken(#a4cb53, 40%)
