form.reply-edit-form
  margin-bottom: 16px
  textarea
    width: 100%
    resize: none

  .form-messages
    color: #D3091D
    margin-left: 10px

  .btn
    font-size: 12px !important

  .form-submit
    background-color: #211E16
    color: #ecf0f1

  .btn-cancel
    background-color: transparent
    color: #1A5CE5