#nominate-wrapper
  .alert-danger
    color #D3091D
    a
      color #9E0A26
  form
    .form-group
      span.error
        top 40px

    .link-group
      span.error
        top 40px
        right 20px

  .nominate-candidate
    form
      .form-group
        input[readonly]
          background-color #ecf0f1
          cursor default

      textarea
        min-height 180px

      h4
        margin-top 0

.popover
  display block !important
  cursor default
