#nominate-wrapper
  .alert-danger
    color #D3091D
    a
      color #9E0A26
  form
    .form-group
      margin-left 0
      margin-right 0
      span.error
        top 40px

    .link-group
      span.error
        top 40px
        right 20px

  .nominate-candidate
    form
      .form-group
        input[readonly]
          background-color #ecf0f1
          cursor default


      textarea
        min-height 180px

      h4
        margin-top 0

  input.form-control.rdio
    display inline
    width auto
    height auto
    margin-right 15px

  label.self,label.thirdparty
    vertical-align middle

.popover
  display block !important
  cursor default
